<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ddqwhelper</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dglaojin</string>
				<string>ddqwhelper</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx64e3d1416339e9ae</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1105337255</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>fb290293790992170</string>
		<string>QQ41C152CF</string>
		<string>mqqtribe</string>
		<string>mqqflyticket</string>
		<string>mqqopensdkapiV2</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqopensdkapi</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>BaiduSSO</string>
		<string>rm434209233MojiWeather</string>
		<string>ucbrowser</string>
		<string>bdmap</string>
		<string>snssdk141</string>
		<string>imeituan</string>
		<string>openapp.jdmoble</string>
		<string>VSSpecialSwitch</string>
		<string>dianping</string>
		<string>alipay</string>
		<string>youku</string>
		<string>kugouURL</string>
		<string>sinaweibo</string>
		<string>ctrip</string>
		<string>diditaxi</string>
		<string>wbmain</string>
		<string>baidumusic</string>
		<string>youdaonote</string>
		<string>ntescaipiao</string>
		<string>newsapp</string>
		<string>orpheus</string>
		<string>doubanmovie</string>
		<string>tenvideo</string>
		<string>camcard</string>
		<string>ntesopen</string>
		<string>doubanradio</string>
		<string>sinavdisk</string>
		<string>zhihu</string>
		<string>yddictproapp</string>
		<string>googlechrome</string>
		<string>SogouMSE</string>
		<string>mqqbrowser</string>
		<string>TencentWeibo</string>
		<string>weico</string>
		<string>qqpim</string>
		<string>qqmusicsdk</string>
		<string>eleme</string>
		<string>smoba1104466820</string>
		<string>kuwo</string>
		<string>snssdksync1128</string>
		<string>tagmanager.c.com.jiangjia.gif</string>
		<string>qiyi-iphone</string>
		<string>meituanpayment</string>
		<string>taobao</string>
		<string>xueqiu</string>
		<string>cydia</string>
	</array>
</dict>
</plist>
